<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Clients</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
    </ul>
  </nav>

<router-outlet></router-outlet>